
[Desktop Entry]
Version=1.0
Name=Canvas -App 
Comment=Launch Canvas
Exec=brave --app=https://learn.ontariotechu.ca
Icon=brave
Terminal=false
Type=Application
Categories=Network;WebBrowser;
