
[Desktop Entry]
Version=1.0
Name=Crunchyroll -App 
Comment=Launch Crunchyroll
Exec=brave --app=https://www.crunchyroll.com/videos/anime
Icon=brave
Terminal=false
Type=Application
Categories=Network;WebBrowser;
