
[Desktop Entry]
Version=1.0
Name=DeepSeek R1 -App
Comment=Launch DeepSeek R1 
Exec=brave --app=https://chat.deepseek.com
Icon=brave
Terminal=false
Type=Application
Categories=Network;WebBrowser;
