[Desktop Entry]
Version=1.0
Name=Discord -App
Comment=Launch Discord
Exec=discord --enable-features=UseOzonePlatform --ozone-platform=wayland
Icon=
Terminal=false
Type=Application
Categories=Network;WebBrowser;
