
[Desktop Entry]
Version=1.0
Name=Google Calendar -App
Comment=Launch google calendar 
Exec=brave --app=https://calendar.google.com
Icon=brave
Terminal=false
Type=Application
Categories=Network;WebBrowser;
