
[Desktop Entry]
Version=1.0
Name=Google Mail -App
Comment=Launch google mail 
Exec=brave --app=https://mail.google.com
Icon=brave
Terminal=false
Type=Application
Categories=Network;WebBrowser;
