
[Desktop Entry]
Version=1.0
Name=Meta LLama -App 
Comment=Launch LLama 
Exec=brave --app=https://www.meta.ai
Icon=brave
Terminal=false
Type=Application
Categories=Network;WebBrowser;
