
[Desktop Entry]
Version=1.0
Name=NotebookLM -App 
Comment=Launch NotebookLM 
Exec=flatpak run com.brave.Browser --app=https://notebooklm.google.com/
Icon=brave
Terminal=false
Type=Application
Categories=Network;WebBrowser;
