
[Desktop Entry]
Version=1.0
Name=Qwen -App 
Comment=Launch Qwen 
Exec=brave --app=https://chat.qwen.ai/
Icon=brave
Terminal=false
Type=Application
Categories=Network;WebBrowser;
