
[Desktop Entry]
Version=1.0
Name=Youtube -App 
Comment=Launch Youtube 
Exec=brave --app=https://youtube.com 
Icon=youtube
Terminal=false
Type=Application
Categories=Network;WebBrowser;
